<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Vehicles</title>
    <link href="{% static 'css/style.css' %}"rel="stylesheet">
</head>
<body>
<h2><img src="{% static 'images/tata-thumb-1-660x425.jpg' %}"> MANUFACTURING </h2>
<div align="center">
    <h1>List of Vehicles</h1>
    <ul>
        {% for vehicle in vehicles %}
            <li>{{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
